html {
	font-family: 'Arvo', serif;
	
	background-image: url(../images/background.jpg);
}

body{
	text-align: center;
	margin:0 auto;
}

#map {
	border-top: solid 10px #EDE0B9;
	border-bottom: solid 10px #EDE0B9;

	top: 255px;
	margin-bottom:60px;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 76%;
	height: 60%;
	background-color: #EDE0B9;
}

a {
	color: #9a1b1f;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}
header {
	background-image: url(../images/border-top.jpg);
	position:abosolute;
	margin-top: -54px;
	width:100%;
	height:34px;
	z-index: 5;
}

aside {
	background-image: url(../images/trim.png);
	width: 18px;
	height: 60%;
	z-index: 1;
	position:absolute;
	left: 23.5%;
	top: 255px;
}

#single-aside {
	background-image: url(../images/trim.png);
	background-repeat: repeat-y;
	width: 18px;
	height: 475px;
	z-index: 1;
	position:absolute;
	left: 50%;
	top: 0;
}


	

h1 {
	padding:0;
	margin-top: -8px;
	color: #9a1b1f;
}

h2 {
	color: #9a1b1f;
}

h4 {
	text-align:right;
	position:absolute;
}


#foot{
	height:80px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: url(../images/background1.jpg);
	width:100%;
	margin-bottom: -10px;
	padding-top:20px;
	z-index: 3;
}

#logo {
	padding-top:10px;
}
#foot1{
	position: absolute;
	bottom: 0;
	right: 0;
}



.rinks {
	top: 239px;
	left:0;
	bottom:0;
	position:absolute;
	background-color: #EDE0B9;
	text-align: left;
	height: 60%;
	width: 24.2%;
	min-width: 10.9%;
	overflow: scroll;
	color: #8F1E20;
	margin-left:-50px;
	border-top: solid 20px #EDE0B9;
}

.rinks .highlight {
	padding-left: 20px;
}


.rinks li a {
	color: #8E1E20;
	text-decoration: none;
	height: 20px;
}
.rinks li {
	list-style-type: none;
	cursor: pointer;
	padding: 12px 5px 12px 5px;
	margin:0;
	
	border-bottom: thin solid #C19559;
	-webkit-box-shadow: 0px 1px 1px #fff;
	-moz-box-shadow: 0px 1px 1px #fff;
	box-shadow: 0px 1px 1px #fff;	
}

.rinks .highlight:hover {
	width:400px;
	height: 39px;
	color: #EDE0B9;
	padding: 15px 200px 15px 20px;
	margin:0;
-webkit-box-shadow: inset -5px 0px 5px 3px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset -5px 0px 5px 3px rgba(0, 0, 0, 0.3);
box-shadow: inset -5px 0px 5px 3px rgba(0, 0, 0, 0.3); 
background-color: #C1A075;
}



.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;
list-style-type: none;
border-bottom: none;
}

.rater li {
	border-bottom: none;
	box-shadow: none;
	
}

.rater-level {
float: left;
border:none;
color: #000;
}

.rater-level li{
padding-right:-10px;

}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color: #000;
text-decoration: none;
border-bottom:none;
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #ffe91f;
border-bottom:none;
}

form {
	margin-top: -135px;
	margin-bottom: 124px;
	margin-left: 350px;
	min-width: 650px;
}

input {
	width: 425px;
	height: 30px;
	background-color: #EDE0B9;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px; 
	-webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
-moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3)
}

placeholder {
	color: #000;
}


.info-window {
	text-align:left;
	vertical-align:middle;
	height:70px;
}
.info-window a {
	
	display:block;
	color: #9a1b1f;
	text-decoration:none;
}

.info-window a:hover {
	display:block;
	color: #9a1b1f;
	text-decoration:underline;
}

.highlight meter {
	display:none;
}


.single {
	padding-top:40px;
	text-align:left;
	margin:0 auto;
	position: relative;
	width:100%;
	height:450px;
	z-index:2;
	background-color: #EDE0B9;
}

#disqus_thread {
	width:450px;
	position: absolute;
	top:0;
	left: 54%;
	height:450px;
}

.info {
	position:absolute;
	left:22%;
	height:300px;
}

#login {
	position:absolute;
	top:10px;
	right:10px;
}

#login {
	position:absolute;
	top:10px;
	right:10px;
	color:#EDE0B9;
	text-decoration:underline;
}

#login a{
	position:absolute;
	top:10px;
	right:10px;
	color:#EDE0B9;
	text-decoration:underline;
}


#home {
	float:left;
}


	
	



	
	


